@font-face {
    font-family: "Comic Sans";
    src: url(assets/ComicSansMS.ttf) format(truetype);
}
@font-face {
    font-family: "Determination";
    src: url(assets/DTM-Mono.otf) format(opentype);
}
@font-face {
    font-family: "Mercy";
    src: url(assets/MERCY.otf) format(opentype);
}

* {
    font-family: "Determination";
    color: white;
}
a {
    color: yellow;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    background-image: url(assets/background.png);
    background-size: 100%;
    background-repeat: repeat;
}
table {
    background-color: black;
    border-color: white;
    border-width: medium;
    border-style: solid;
    border-collapse: collapse;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
th, td {
    border-color: white;
    border-width: thin;
    border-style: solid;
    padding: 5px;
}
table.numbers th:first-child, table.numbers td:first-child {
    text-align: right;
}
li {
    line-height: 1.5;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    
    width: fit-content;
    height: fit-content;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
@keyframes enlarge {
    0% {transform: scale(1);}
    100% {transform: scale(1.1);}
}
.avatar {
    box-shadow: 0px 0px 5px 5px orange;
    border-radius: 100%;

    width: 180px;
    height: 180px;
    margin-bottom: 25px;
}
.avatar:hover {
    animation: enlarge 0.5s both;
}
.textBox {
    font-size: large;
    color: white;
    background-color: black;
    padding: 5px 10px;
    
    border-color: white;
    border-width: thick;
    border-style: solid;

    width: 500px;
    height: fit-content;
    min-height: 100px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.button {
    font-family: "Mercy";
    font-size: larger;
    text-align: center;
    color: #FF8E0C;
    
    background-color: black;
    border-color: #FF8E0C;
    border-width: medium;
    border-style: solid;

    min-width: 100px;
    padding: 1px 5px;
    margin-left: auto;
    margin-right: auto;
}
.button:hover {
    color: yellow;
    border-color: yellow;
    text-decoration: none;
}
.separator { 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.left {
    margin-left: unset;
}
.right {
    margin-right: unset;
}
